@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center {
  display: flex;
  align-items: center;
}

.navbar {
  height: 80px;

  .wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    .left {
      @include center;
      gap: 25px;

      .item {
        @include center;
        font-size: 18px;
      }
    }
    .center {
      @include center;
      font-size: 30px;
    }
    .right {
      @include center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 15px;
        cursor: pointer;
        color: #777;

        .cartIcon {
            position: relative;
            span {
                @include flex;
                width: 20px;
                height: 20px;
                position: absolute;
                top: -10px;
                right: -10px;
                border-radius: 50%;
                color: white;
                background-color: #2879fe;
            }
        }
      }
    }
  }
}
